@import '../../styles/constants.styl';

tab-background-color = purple50;
tab-background-hover-color = purple100;
tab-height = 40px;
tab-text-color = purple300;
tab-text-hover-color = purple500;

tab-selected-background-color = purple200;
tab-selected-background-hover-color = purple300;
tab-selected-bar-color = purple400;
tab-selected-indicator-height = 6px;
tab-selected-text-color = purple800;
tab-selected-text-hover-color = purple900;


.tab-bar-component {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .tab {
        text-align: center;
        color: tab-text-color;
        background-color: tab-background-color;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0%;
        cursor: pointer;
        height: tab-height;
        max-width: 100px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        margin-left: 1px;
        margin-right: 1px;

        &.selected {
            border-bottom: tab-selected-indicator-height solid tab-selected-bar-color;
            color: tab-selected-text-color;
            background-color: tab-selected-background-color;
            height: tab-height - tab-selected-indicator-height;

            &:hover {
                background-color: tab-selected-background-hover-color;
                color: tab-selected-text-hover-color;
            }
        }

        &:hover {
            background-color: tab-background-hover-color;
            color: tab-text-hover-color;
        }

        .text {
            padding-top: 8px;
        }
    }
}