<template>
  <div class="tab-bar-component">
    <template v-for="(tab, index) in actualTabItems">
      <div
        :key="index"
        :class="createTabStyles(index)"
        @click="onTabClick(index, tab)"
      >
        <div class="text">
          {{ tab.name }}
        </div>
      </div>
    </template>
  </div>
</template>

<script lang="ts" src="./TabBarComponent.ts"></script>
<style lang="stylus" src="./Styles.styl" />
