<template>
<div class="debug">
  <h3>Profile Model Visual Debug</h3>
  <table>
    <tbody>
      <tr>
        <td>forename:</td>
        <td>
          {{ value.forename }}
        </td>
      </tr>
      <tr>
        <td>surname:</td>
        <td>
          {{ value.surname }}
        </td>
      </tr>

      <tr>
        <td>mobileNumber</td>
        <td>
          {{ value.mobileNumber }}
        </td>
      </tr>
      <tr>
        <td>landlineNumber</td>
        <td>
          {{ value.landlineNumber }}
        </td>
      </tr>
      <tr>
        <td>emailAddress</td>
        <td>
          {{ value.emailAddress }}
        </td>
      </tr>
      <tr>
        <td>street</td>
        <td>
          {{ value.street }}
        </td>
      </tr>
      <tr>
        <td>town</td>
        <td>
          {{ value.town }}
        </td>
      </tr>
      <tr>
        <td>city</td>
        <td>
          {{ value.city }}
        </td>
      </tr>
      <tr>
        <td>postcode</td>
        <td>
          {{ value.postcode }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
</template>

<script lang="ts" src="./ModelViewerProfileComponent.ts"></script>
<style lang="stylus" src="./Styles.styl" />
