<template>

  <!-- tab component -->
  <div id="app">
    <db-tab-bar
      :items="categories"
      :selectedIndex="selectedIndex"
      @onIndexChanged="onTabIndexChanged"
    />

    <!-- switchable components -->
    <db-indexed-regions-container :regionVisible="selectedIndex">
      <db-region>
        <db-profile-name v-model="profile" />
      </db-region>
      <db-region>
        <db-profile-phone v-model="profile" />
      </db-region>
      <db-region>
        <db-profile-address v-model="profile" />
      </db-region>
      <db-region>
        <db-profile-email v-model="profile" />
      </db-region>
    </db-indexed-regions-container>

    <!-- display debug output of the profile model -->
    <db-model-viewer-profile v-model="profile" />
  </div>
</template>

<script lang="ts" src="./App.ts"></script>
<style lang="stylus" src="./Styles.styl" />
