@import '../styles/constants.styl';

body {
    font-family: 'arial';
}

.form {
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    border: solid 2px purple500;
    min-height: 240px;
    border-radius: 6px;

    label {
        padding-top: 8px;
        padding-bottom: 2px;
        color: purple500;
        display: block;
        font-weight: 100;
        font-size: 0.8em;
    }

    input {
        display: block;
        background-color: lighten(purple50, 3);
        width: 200px;
        padding: 8px;
        border: solid 1px purple700;
        color: purple900;
        border-radius: 4px;
    }
}