<template>
  <div class="form">
    <label>landline</label>
    <input v-model="value.landlineNumber" />
    <label>mobile</label>
    <input v-model="value.mobileNumber" />
  </div>
</template>

<script lang="ts" src="./ProfilePhoneComponent.ts"></script>
