<template>
  <div class="form">
    <label>street</label>
    <input v-model="value.street" />
    <label>town</label>
    <input v-model="value.town" />
    <label>city</label>
    <input v-model="value.city" />
    <label>post code</label>
    <input v-model="value.postcode" />
  </div>
</template>

<script lang="ts" src="./ProfileAddressComponent.ts"></script>
