<template>
  <div class="form">
    <label>forename</label>
    <input v-model="value.forename" />
    <label>surname</label>
    <input v-model="value.surname" />
  </div>
</template>

<script lang="ts" src="./ProfileNameComponent.ts"></script>
